body{
    background-color: #282c34 !important;
}

.container1{
    width: 65%;
    margin: 2% auto;
    margin-top: 5%;
}

.card{
    width: 100% !important;
    padding: 2%;
    background-color: #FFFFFF !important;
}
.list-group-item{
    background-color: #FFFFFF !important;
    border-color: #9BC88D !important;
    color: #494949 !important;
}
.card-text{
    color: #494949;
}

#img-poster{
    height: 100%;
    margin: 1% auto;
}

.subTitulo{
    display: inline-block;
    font-weight: bold;
    color: #2F4F4F !important;
}